@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'android';
    src: url(../fontes/idroid.otf) format(opentype);
    font-weight: normal;
}

* {
    margin: 0px;
    padding: 0px;
}
 
 
 :root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: arial, verdana, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'android', cursive;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, #2fa866, #063d1e);
    background-color: #063d1e;
    max-height: 150px;
    min-height: 150px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    text-align: center;
    padding-top: 30px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.300);
}

header > p {
    color: white;
    text-align: center;
    display: block;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.300);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.200);
}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;

}

nav > a:hover {
    color: var(--cor3);
    background-color: #1a5c37;
    border-radius: 5px;
    transition-duration: .2s;
}

main h1, h2 {
    font-family: var(--fonte-android);
    color: #063d1e;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}

main p {
    margin: 15px 0px;
    text-align: justify;
    font-size: 1em;
    line-height: 2em;
    text-indent: 30px;
}

main a {
    color: #063d1e;
    background-color: #3ddc84;
    font-weight: bold;
    text-decoration: none;
    padding: 2px 4px;
}

main a:hover {
    text-decoration: underline;
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    max-width: 350px;
    margin: auto;
}

div.video {
    background-color: #063d1e;
    margin: 0px -10px 30px -10px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.185);
}

aside ul {
    list-style-type: none;
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    color: white;
    background-color: #063d1e;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}

footer {
    background-color: var(--cor5);
    color: white;
    padding: 5px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: #3ddc84;
}
